/*                                      COLORS
   --------------------------------------------------------------------------------------------
   */
:root {
    --text-color: #2C2C2C;
    --red: #f44336;
    --blue: #2196f3;
    --olive: #7C941D;

}
/*                                      RESET
--------------------------------------------------------------------------------------------
*/

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*:before,
*:after {box-sizing: inherit;}
/* http://nicolasgallagher.com/micro-clearfix-hack/
 * You need them after using floating elements, for example floating images in blog posts */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
    display: table;
    content: " ";
}

.clearfix:after,
.container:after {clear: both;}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure {
    margin: 0;
    padding: 0;
}
/*                                         TYPOGRAPHY
---------------------------------------------------------------------------------*/
/* better use body typo separated here (instead of with other HTML5 elements), avoid messing with external js generated styles */

body {
    color: var(--text-color);
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.375;
}

p {
    margin-top: 0;
    margin-bottom: 1.25rem;
}

/* use only one h1, but you can use more h2-h5 on one page (SEO in mind) */
/* use .h1-.h5 classes  if only the font size matters (Accessibility in mind) */
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    font-weight: 300;
    color: black;
}

.underline::after {
    content: "";
    display: block;
    border-top: 6px solid;
    width: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

blockquote small:before {content: '\2014 \00A0';}

img {
    width: 100%;
    vertical-align: middle; /*your images will be pixel-perfect relation to other elements, but cannot position img-tag icons with buttons for example...*/
    height: auto;
    max-width: 800px;
    display: block;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
}

.list {
    padding-left: 15px; /*balance col paddings*/
}

.list li {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: var(--blue);
}

a:hover {
    text-decoration: underline;
}


/*                                         TABLES
---------------------------------------------------------------------------------*/
/* tables still need cellspacing="0" in the markup */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}

th {
    font-weight: bold;
    vertical-align: bottom;
}

td {
    font-weight: normal;
    vertical-align: top;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #eee;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
}

/*                                         BUTTONS
--------------------------------------------------------------------------------------------*/
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 5px 15px;
    border: 1px solid var(--blue);
    border-radius: 4px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    cursor: pointer;
    background-color: var(--blue);
}

/*                                         INPUTS
https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms
--------------------------------------------------------------------------------------------*/

/* hand cursor on clickable elements */
select,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
    margin: 0;
    font: inherit;
}

input,
select {vertical-align: middle;}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
select,
textarea {
    width: 100%;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 38px;
}
.search-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 38px;
}

input[type="radio"] {vertical-align: text-bottom;}

textarea {
    min-height: 80px;
    resize: vertical;
}

.required:after {
    color: #FF5E40;
    content: ' *';
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ADADAD;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ADADAD;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ADADAD;
}


/*--------------------------------------------------------------
# Custom checkbox
source: https://medium.com/claritydesignsystem/pure-css-accessible-checkboxes-and-radios-buttons-54063e759bb3
--------------------------------------------------------------*/

.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox label {
    position: relative;
    display: inline-block;
    padding-left: 32px;
    color: #272B3C;
    font-size: 15px;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";

    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before {
    height: 20px;
    width: 20px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    border: 1px solid #D3D6DB;
    box-shadow: 0 3px 5px 0 rgba(44, 44, 44, 0.13);
    border-radius: 2.5px;
}

.checkbox label[validation-error="true"]::before {
    border: 1px solid #FF0000;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
    height: 20px;
    width: 20px;
    background: #00b6ff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIyMCA2IDkgMTcgNCAxMiI+PC9wb2x5bGluZT48L3N2Zz4=) center no-repeat;
    left: 0;
    top: 0;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}

/* LAYOUT
--------------------------------------------------------------------------*/
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300; /* 300-as érték a light, 400 - normal, 700-bol */
}

.header {
    padding: 45px 75px;
}

#title {
    font-size: 48px;
    margin-bottom: 10px;
    line-height: 1;
}

.header-divider {
    border-top: 1px solid var(--olive);
    width: 30%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.header-description {
    font-size: 24px;
    letter-spacing: -0.3px;
    text-align: right;
}

#img-div {
    margin-bottom: 70px;
}

#img-div img {
    margin-bottom: 10px;
}

#img-div figcaption {
    font-size: 14px;
}

.content-title-container {
    display: flex;
    justify-content: center;
}

.content-title {
    font-size: 24px;
    line-height: 1.6;
    border-bottom: 1px solid var(--olive);
    margin-bottom: 35px;
}
#tribute-info{
    margin: 0;
    list-style-type: none;
    margin-bottom: 60px;
}
#tribute-info-item {
    text-indent: -5px;
}

#tribute-info-item:before {
    content: "-";
    text-indent: -5px;
    margin-right: 10px;
}

.quote {
    font-style: italic;
    text-align: center;
    margin-bottom: 95px;
}

.quote-author {
    text-align: right;
}

.footer {
    background-color: var(--olive);
    color: white;
    padding: 15px;
    margin: 0 -15px;
}

.footer-link {
    color: white;
    text-decoration: underline;
}
